@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif Display", serif;
}
html, body{
    height: 100%;
    width: 100%;
}

.loader{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 99;
    display: none;
}
.loader h1{
    /* text-transform: uppercase; */
    color: white;
    font-size: 6vw;
    font-weight: 300;
    position: relative;
    z-index: 9;
    line-height: 5vw;
    letter-spacing: -0.2vw;
}
.loader video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 6;
}
#yellow1{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 8;
}
#yellow2{
    height: 100%;
    width: 100%;
    background-color: #f5e41b;
    position: absolute;
    z-index: 7;
}

.nav{
    position: absolute;
    width: 100%;
    z-index: 10;
    padding: 2.5vw 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav .right{
    display: flex;
    align-items: center;
    gap: 4vw;
    margin-right: 3vw;
}
.nav .right h3{
    font-weight: 500;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.nav svg path{
    fill: black;
}

.main{
    background-color: black;
}

.section1{
    height: 100vh;
    width: 100%;
    background-color: #f5e41b;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.section1 h1{
    /* text-transform: uppercase; */
    font-size: 6vw;
    font-weight: 300;
    line-height: 5vw;
    letter-spacing: -0.2vw;
}



.section2{
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-position: center;
}

.elem{
    width: 100%;
    position: relative;
    cursor: pointer;
}

.elem h2{
    font-size: 6.9vw;
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    z-index: 9;
    line-height: 5.4vw;

}
.elem .moving{
    background-color: #f5e41b;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0,-45%) scaleY(0);
    white-space: nowrap;
    padding: 8px 0;
    /* opacity: 0; */
    transition: all ease 0.3s;
    overflow: hidden;
}
.elem .moving .blur{
    position: absolute;
    width: 35%;
    background: linear-gradient(to right, #f5e41b, #f5e41b,#f5e41b);
    box-shadow: 10px 0px 100px 20px #f5e41b,-10px 0px 20px 20px #f5e41b;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 8;
}
.elem .moving .movingin{
    display: inline-block;
    white-space: nowrap;
    animation-name: moving;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-timing-function: linear;
}

.elem .moving .movingin h5{
    color: black;
    display: inline-block;
    font-size: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    margin-right: 35px;
    opacity: 0;
    transition-delay: 0.2s;
    transition: all ease 0.3s;
}

@keyframes moving {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}

.elem:hover .moving{
    transform: translate(0,-45%) scaleY(1);

}
.elem:hover .moving h5{
    opacity: 1;
}
.elem h2:hover{
    font-style: italic;
    color: black;
}




.section3{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
}
.image-container{
    padding: 30px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1.8vw;
}

.image-div{
    /* height: 39.5vw; */
    width: 30.5vw;
    position: relative;
    overflow: hidden;
    margin-bottom: 35px;
}
.image-div img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all ease 0.5s;

}
.overlay{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.104);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    z-index: 9;
}
.overlay p{
    font-size: 3vw;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    color: white;
    line-height: 3vw;
    opacity: 0;
    transition: all ease 0.5s;

}
.image-div:hover .overlay{
    background-color: black;
}
.image-div:hover .overlay p{
    opacity: 1;
}
.image-div:hover img{
    scale: 1.1;
}
.footer{
    height: 30vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    gap: 40px;
}
.footer h2{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1vw;
    border: 1px solid #dadada;
    padding: 10px 15px;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
.footer #foot{
    height: 50%;
    width: 100%;
    background-color: black;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    
}
.footer #foot .contact{
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.footer #foot h3{
    margin: 3vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
